.border_right{ border-right: 1px solid #413f9f}
.dis_none{ display: none}
.navbar-right{width: 300px !important;}
label{ font-style: normal;font-weight: normal}
.pagination a{ background: none!important; border:none !important; margin: 0px !important;}
.pagination { margin: 0px !important;}
a{transition: all .28s ease;}
a:hover{ opacity: 0.6; color: #fff;transform: translateX(2px);}
.table{margin-bottom: 0px !important;}
table td{ padding-right: 15px !important;}
.form-control{ border-radius: 5px !important;}
.P_input{ padding: 5px; background: #7a78c3; border: 1px solid #716fb5; height: 26px; position: relative; color: #fff; width: 100% !important; float: right}
.Pr0_H{ background: #3b3a9b; display: block; padding: 0px 25px; height: 40px; margin: 1px !important; line-height: 40px;}
.Pr0_H .navbar-right {position: relative; top:-9px;}
.Pr0_H .navbar-right button{ background: none; position: absolute; top:12px; right:15px;}
/*输入弹出*/
.blur_focus{ width: 270px; height: auto;  position: absolute;top:27px; z-index: 20}
.blur_focus li{ width: 100%; float: left; padding:5px 0 ;  float: left; font-size: 12px;line-height: 40px; background: #110f7a }
.blur_focus li:nth-of-type(odd){ background: #323191}
.blur_focus li a{ float: left; margin-left: 10px;}
.blur_focus li i{ float: right; margin-right: 30px; }
.blur_focus li i img{ width: 50px; height: 50px; float: left; background: #c4e4ff}
.Pr_img img{ width:100px; height: 100px; margin: 0 auto;}
/*tab*/
.tab_profil .tab_profil_nav{ width: 100%; background: #3b3a9b; display: block ;  float: left }
.tab_profil .tab_profil_nav>a{ font-size: 0.85em; background: #4f4ea1; padding: 11px 40px;float: left; margin-right:1px}
.tab_profil .tab_profil_nav>a.tabActive{ background: #6460ca; color: #fff;border-top: 2px solid #0bffd8 }
.tab_profil .tab_profil_nav>a.tabActive i{ color: #0bffd8}
.tab_profil .tab_pro_content{ padding-top:15px; float: left; width: 100%; }
.tab_profil .tab_profil_nav .icon-fullscreen{ font-size: 2em; margin-top: 5px; padding-right: 20px; cursor:pointer;}
/*tab end*/
.contact_list { padding-left: 30px; width: 100%; display: block}
.contact_list li{ float: left; width: 100%; font-style: normal}
.contact_panel{ width: 100%;float: left;}
.contact_panel li{ width: 20%; float: left;background: #2e3191; display: flex; justify-content: center;}
.contact_panel li:nth-child(odd){ width: 20%; float: left;background: #4643a9; display: flex; justify-content: center;}
.contact_panel a ,.contact_panel span{ width: 50%; float: left; height: 100px;}
.contact_panel a{ position: relative}
.contact_panel a input[type='checkbox']{ position: absolute; bottom:0px;right:0px;}
.contact_panel span { display: flex; justify-content: center;align-items: center}
.contact_panel a{background: #5757b5}
.contact_panel a img{ float: left; width: 100%; }
.contact_left_w{width: 30px; height: auto;  background: #6e6ed0; font-size: 1.3em; text-align: center;right:30px;z-index: 10;}
.contact_tip{ width: 30px; height: auto;  background: #6e6ed0; text-align: center;left:0;z-index: 10;}
.contact_tip a ,.contact_left_w a{ height: 30px; width: 30px;display: flex;align-items:center; justify-content:center;border-bottom: 1px solid #8585f8}
.contact_tip a.tabActive ,.contact_left_w a.tabActive{ background: #0bffd8}
.toggle_mark{ width: 93%;padding-left: 7%; float: left; background: #21aabf; border-radius: 20px; line-height: 35px;}
.I_tooltip{ width: 35px; height: 35px; position: absolute;left:1px; border-radius: 50%; background: #2effeb;float: left; color: #fff; font-size: 1.8em; text-align: center;
    box-shadow: 3px 2px 2px #007b92; margin-right: 20px;}
.toggle_mark  a{ padding: 0 10px; border-left:1px solid #2cd0eb;}
.page_block{ float: right; text-align: center; width: 55%;}
.person_table_show{ text-align: center;}
.person_table_show .peson_img img{ width: 40px; height:40px; float: left; margin-right: 10px;}
.person_table_show input{ float: right}
.Pr_tab_list {  width: 100%;counter-reset:section; counter-reset:section ;}
.Pr_tab_list li{ width: 100%; padding: 6px 10px; float: left;  counter-increment:subsection ;  }
.Pr_tab_list li i{ margin: 0 10px;}
.Pr_tab_list_a a{ color: #e69e05; text-decoration: underline; margin: 0 10px;  }
.Pr_tab_list li:before {  content:counter(section) "." ;counter-increment:section;    display:inline-block;  transition: all .28s ease; }
.Pr_tab_list li:hover:before{transform: translateX(2px);}
.Pr_tab_list li:nth-of-type(odd) ,.Pr_tab_list2 li:nth-of-type(odd){ background: #474996}
.tab_profil_screen{ position: fixed;height: 100%;}
