body{background:#E9E9E9 url("../../../images/logo03.jpg") no-repeat center;background-size: 300px 300px}
.topbar{
    width: 100%; height: 40px; background:#f7f7f7; border: 1px solid #fff;
}
.topbar_input{
    border-radius: 5px;
    border: 1px solid #ebebeb !important; background: #fff !important; width: 250px !important; height: 30px; margin-top: 5px; margin-right: 15px;
}
.topbar_icon{
    position: absolute;
    top:12px;
    color: #000;
    right:25px;
    cursor: pointer;
}
.contentLeft{
    width:30%;
    padding: 0 1%;
    float: left;
    height: 100%;
    background: #fbf9f9;
    border-right: 1px solid #dadada;
}
.contentRight{
    width: 70%;
    float: left;
    height: 100%;
}
.contentRight:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden; }

/*.contentRight:after {*/
/*content: "020";*/
/*display: block;*/
/*height: 0;*/
/*clear: both;*/
/*}*/
/*.contentRight {*/
/*zoom: 1;*/
/*}*/
/*3D*/
.imageflow img{ -webkit-box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.1); box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.1); }
.imageflow{overflow:hidden; position:relative; text-align:left; visibility:hidden; width:100%; margin:0 auto}
.imageflow img{border:none; position:absolute; top:0px; visibility:hidden; -ms-interpolation-mode:bicubic}
.imageflow p{margin:0 auto; text-align:center;font-size: 1em !important}
.Dbox p{ width: 100%;color: #333; font-size: 0.75em; }
.caption_H{  width: 100%;  position: relative; padding: 10px 0 0 0; float: left;}
.caption_H i{ width: 100%; border-bottom: 1px solid #eee; float: left;position: absolute; top:22px;}
.caption_H span{ position: absolute; top:12px; color: #666; background: #fbf9f9; left:40%}
.Left_table{ color: #666; font-size: 0.75em; margin-top: 25px; float: left; margin-bottom: 0px !important;}
.Left_table tr td{ padding: 4px !important;}
.left_imglist{ width: 100%;float: left; margin-top: 30px;}
.left_imglist li{ width: 30.33%; float: left;margin: 0 9%;}
.left_imglist li img{ width: 100%; float: left}
.left_imglist li p{ width: 100%; float: left; height: 35px; color: #333; font-size: 0.75em; text-align: center;}
.contain_left_tips{ width: 100%; float: left; border-top: 1px solid #ebebeb; padding: 10px; text-align: center  }
.contain_left_tips a{ padding: 2px 10px ;font-size: 0.75em;  border-radius: 10px; background: #ef6767; color: #fff;margin: 0 5px;}
.cus_icon ,.cus_icon2,.cus_icon3{ color:#ef6767; cursor: pointer; font-size:1.5em;transform: rotateZ(180deg);transition: all 0.5s; float: left;}
.cus_icon3,.cus_icon2 ,.cus_icon{ position: absolute; right:-7%;}


.ullist span{  float:left; width: 100%;}
.ullist p{ width: 100%; float: left;}
/*.Right_tab1 ,.Right_tab2{width: 100%; float: left; height: 330px; color: #333!important; padding: 0 1%;}*/
.setup{ position: absolute; bottom: 0px; left:0px; border-top: 1px solid #dcdcdc;}
.content_top,.content_bom{
    width: 100%;
    height: 50%;
}
.
    /*输入弹出*/
.blur_focus{ width: 250px; height: 132px;  position: absolute;top:34px; z-index: 2000; overflow-y: auto}
.blur_focus li{ width: 100%; float: left; padding:3px 0 ; color: #333;  float: left; font-size: 12px;line-height: 40px; background: #ededed }
.blur_focus li:nth-of-type(odd){ background: #f4f4f4}
.blur_focus li a{ float: left; margin-left: 10px;}
.blur_focus li i{ float: right; margin-right: 10px; }
.blur_focus li i img{ width: 40px; height: 40px; float: left; background: #cfcfcf}

/*2017/3/8人员画像右侧更新*/
.person_nav ,.person_nav2{ width: 100%; float: left; height: 300px;}
.person_nav .person_menu{width: 100%; float: left; height: 40px; font-size:0.875em; line-height:40px;background: #dfdfdf;}
.person_nav2 .person_menu_2{width: 100%; float: left; height: 30px; font-size:0.75em; line-height:30px;background: #f2f2f2;}
.person_nav .person_menu a{ padding: 0 20px;height: 40px; line-height:40px; float: left}
.person_nav2 .person_menu_2 a{ padding: 0 20px;height: 30px; line-height:30px; float: left}
.person_nav .person_menu a.tabActive ,.person_nav2 .person_menu_2 a.tabActive{background: #585987; color: #fff;}
.person_ul_text{ color: #646464;}
.person_ul_text .person_L_text_1{width: 18%;float: left; border-right:1px solid #ebebeb ; height: 259px; }
.person_ul_text .person_L_text_1 ul{height: 259px; overflow-y: auto }
.person_ul_text .person_L_text_2{width: 20%;float: left ;border-right:1px solid #ebebeb; height: 259px; overflow-y: auto }
.person_ul_text .person_L_text_3{width: 62%;float: left; height: 259px; }
.person_L_text_1>ul>li ,.person_L_text_2>ul>li{width: 100%; float: left; color: #646464; font-size: 0.75em;
    line-height: 24px; padding: 5px 5px;}
.person_L_text_1>ul>li>span{ width: 100%;float: left}
.person_ul_text .person_L_text_2 p i{ font-size: 0.75em;height: 35px; line-height:35px; }
.person_ul_text .person_L_text_2 p{background: #f7f7f7; float: left ;width: 100%; padding:0 10px;color: #646464 }
.person_ul_text .person_L_text_2 li span{ float: left}
.person_ul_text .person_L_text_2 li i{ float: right}
.person_ul_text .person_L_text_2 li{ padding:0 5px;}
.person_L_text_1>ul>li:nth-last-of-type(1){ border-bottom:none }
.person_L_text_1>ul>li{ border-bottom: 1px solid #ebebeb}
.person_L_text_1>ul>li:nth-of-type(odd){ background: #fbf8f8;}
.person2_ul_text ,.person_ul_text{width: 100%; float: left}
.table-hove2 tr:nth-of-type(even) {background: #f9f7f7}
.scr_P{ height: 180px; overflow-y: auto; float: left ;width: 100%;}
.text_block{width: 50%; float: left}
.border-right{ border-right: 1px solid  #ddd; height: 259px;}
.person_nav2 .person2_ul_text ,.person_nav .person_ul_text{display: none}
.person_nav2 .person2_ul_text:nth-of-type(1) ,.person_nav .person_ul_text:nth-of-type(1){display: block}
.text-ov{  height:229px; overflow-y: auto; width: 100%; float: left }
.contentRight .red{ cursor:pointer}

/*导出按钮*/
.export_top{ width: 230px; height: 50px; position: absolute; right: 0px;z-index:1000;display: none}
.export_bom{ width: 230px; height: 50px; position: absolute; right: 0px;top:470px;z-index:10000;display: none}
.export_sidebar,.export_sidebar_bom{ float: left;}
.export_grid,.export_grid_bom{ float: right; }
.export_grid,.export_sidebar,.export_grid_bom,.export_sidebar_bom{background:#ef6767; float:right; margin-right:10px;color:#fff; border-radius:15px;margin-top:5px;font-size:12px;}
.xzd ,.ullist{ width: 95%}
.xzd li ,.ullist li{ width: 90%; float: left}

/*初始隐藏*/
.width100{  height: 100%; background: #fbf9f9;float: left}
.xzd2{ position:relative; width: 95%}
.xzd2  li{padding-right:11%}
/*.xzd li ,.ullist li{display:none}*/
.xzd2 li span{ width: 100%; float: left}

.xzd2 li{ display: none}
.xzd2 li:first-of-type{ display: block;}
    /*清除浮动*/
.clear_float_xd:after{ content: ".";  display: block;  height: 0;  clear: both;overflow:hidden;}
.clear_float_xd{ zoom: 1;}
.clear_float_xd:not(:last-child){border-bottom: 1px solid #f1f1f1; padding-bottom: 8px;}

/*表格颜色*/
.contentRight .w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd{
    color: inherit;
    background-color: #f3f6fa;
}

/*机动车弹出框*/
#alert_JDC{
    position: fixed;
    padding:20% 30%;
    z-index: 999999;
    height: 100%;
    width: 100%;
    color: black;
    display: none;
    background: rgba(0,0,0,0.5);
}