a:hover {
    opacity: 0.8;
    transition: color 0.2s;
    color: #fff;
}

.wifi_icon {
    width: 52px;
    float: left;
}

.wifi_icon img {
    margin-left: 20px;
    margin-bottom: 5px;
}

.warp_content dl dt span a img {
    padding: 0px !important;
}

.top_tips_menu {
    position: absolute;
    z-index: 200;
    color: #fff;
    background: #0aa28b;
    right: 20px;
    top: 30px;
    border-radius: 2px;
}

.top_tips_menu li {
    width: 35px;
    height: 35px;
    font-size: 1.3em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wifi_block_alert {
    position: absolute;
    top: 10px;
}

.wifi_block {
    width: 320px;
    height: 210px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;
}

.wifi_block ul {
    padding: 10px 10px;
    float: left
}

.wifi_block ul label, .wifi_bottom_bar_ul li label {
    font-weight: normal;
    float: left;
    font-size: 12px;
}

.wifi_block ul li {
    padding: 5px 0;
}

.wifi_block ul li button {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.wifi_block h4 {
    background: #f9f9f9;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    height: 28px;
    margin: 0px;
    padding: 5px;
}

.wifi_block input, .wifi_block select, .wifi_block textarea {
    width: 260px;
    padding: 0px;
    margin: 0px;
    color: #000;
}

.wifi_block h4 a:hover {
    color: #000000
}

.wifi_block .arrow {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 120px;
    bottom: -30px;
    border: 15px solid #333;
    border-color: #ccc transparent transparent #ccc;
}

.wifi_bottom_bar {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    width: 100%;
    z-index: 1000;
    background: #969696;
    opacity: 0.8;
    height: 70px;
    float: left
}

.wifi_bottom_bar_ul li {
    width: 31.3%;
    padding: 0 1%;
    float: left;
    border-right: 1px solid #ccc
}

.wifi_bottom_bar_ul li:nth-of-type(3) {
    border: none
}

.wifi_bottom_bar_ul li label {
    font-weight: normal;
    float: left;
    font-size: 12px;
    width: 35%;
}

.wifi_bottom_bar_ul i {
    float: right;
    width: 65%;;
}

.wifi_bottom_bar_ul i input {
    width: 45%;
    color: #000000;
    font-size: 12px;
    padding: 3px;
}

.center_m {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wifi_side_button, .wifi_side_button2 {
    border: 1px solid #ccc;
    padding: 5px 20px;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.wifi_sidebar_right_menu, .wifi_sidebar_right_menu2 {
    padding: 10px;
    position: absolute;
    z-index: 400;
    right: 0px;
    width: 30%;
    background: #fafafa;
    color: #666;
    top: 0px;
    height: 100%;
    overflow-y: auto
}

.wifi_sidebar_right_menu .dropdown-menu {
    left: 30%;
    top: 35px;
}

.dropdown-menu {
    background: #fff !important;
}

.wifi_sidebar_caption {
    width: 100%;
    float: left;
    background: #ccc;
    padding: 7px;
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wifi_sidebar_right_menu2 .close_icon {
    position: absolute;
    top: 30px;
    right: 20px;
}

.wifi_sidebar_right_menu2 .icon-dataexport {
    position: absolute;
    top: 30px;
    right: 50px;
}